In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('static/csv/CaseCountData.csv')
df

       No.       County  Positive  Fatalities
0     59.0       Harris      1106          13
1     31.0       Dallas       921          17
2    132.0       Travis       430           4
3    127.0      Tarrant       383           7
4      8.0        Bexar       342           9
..     ...          ...       ...         ...
146  130.0        Titus         1           0
147    2.0      Andrews         1           0
148  126.0      Swisher         1           0
149  121.0  San Jacinto         1           0
150    1.0     Anderson         1           0

[151 rows x 4 columns]

In [5]:
df = df[['County', 'Positive', 'Fatalities']]

In [6]:
df

          County  Positive  Fatalities
0         Harris      1106          13
1         Dallas       921          17
2         Travis       430           4
3        Tarrant       383           7
4          Bexar       342           9
..           ...       ...         ...
146        Titus         1           0
147      Andrews         1           0
148      Swisher         1           0
149  San Jacinto         1           0
150     Anderson         1           0

[151 rows x 3 columns]

In [7]:
df.to_dict()

{'County': {0: 'Harris',
  1: 'Dallas',
  2: 'Travis',
  3: 'Tarrant',
  4: 'Bexar',
  5: 'Denton',
  6: 'Collin',
  7: 'Fort Bend',
  8: 'Lubbock',
  9: 'Galveston',
  10: 'Brazoria',
  11: 'Montgomery',
  12: 'El Paso',
  13: 'Hidalgo',
  14: 'Webb',
  15: 'Brazos',
  16: 'Williamson',
  17: 'Cameron',
  18: 'Smith',
  19: 'Bell',
  20: 'McLennan',
  21: 'Nueces',
  22: 'Hays',
  23: 'Wichita',
  24: 'Matagorda',
  25: 'Victoria',
  26: 'Ellis',
  27: 'Jefferson',
  28: 'Guadalupe',
  29: 'Randall',
  30: 'Potter',
  31: 'Taylor',
  32: 'Midland',
  33: 'Ector',
  34: 'Johnson',
  35: 'Comal',
  36: 'Bowie',
  37: 'Washington',
  38: 'Tom Green',
  39: 'Nacogdoches',
  40: 'Hardin',
  41: 'Gregg',
  42: 'Orange',
  43: 'Grayson',
  44: 'Rusk',
  45: 'Rockwall',
  46: 'Shelby',
  47: 'Chambers',
  48: 'Fayette',
  49: 'Kaufman',
  50: 'Castro',
  51: 'Angelina',
  52: 'Hood',
  53: 'Wharton',
  54: 'Kendall',
  55: 'Waller',
  56: 'Hunt',
  57: 'Calhoun',
  58: 'Walker',
  59: 'Polk',
  60: 'Hockley',
  61: 'Erath',
  62: 'Bastrop',
  63: 'Moore',
  64: 'Wilson',
  65: 'Parker',
  66: 'DeWitt',
  67: 'Hale',
  68: 'Starr',
  69: 'Liberty',
  70: 'Lamar',
  71: 'Harrison',
  72: 'Donley',
  73: 'Cherokee',
  74: 'Navarro',
  75: 'Gray',
  76: 'Val Verde',
  77: 'Willacy',
  78: 'Hill',
  79: 'Deaf Smith',
  80: 'Terry',
  81: 'Maverick',
  82: 'Panola',
  83: 'Coryell',
  84: 'San Patricio',
  85: 'Cass',
  86: 'San Augustine',
  87: 'Austin',
  88: 'Uvalde',
  89: 'Burnet',
  90: 'Brown',
  91: 'Van Zandt',
  92: 'Medina',
  93: 'Young',
  94: 'Lynn',
  95: 'Llano',
  96: 'Live Oak',
  97: 'Limestone',
  98: 'Jackson',
  99: 'Hopkins',
  100: 'Upshur',
  101: 'Eastland',
  102: 'Dawson',
  103: 'Caldwell',
  104: 'Wise',
  105: 'Grimes',
  106: 'Robertson',
  107: 'Trinity',
  108: 'Karnes',
  109: 'Oldham',
  110: 'Kleberg',
  111: 'Atascosa',
  112: 'Blanco',
  113: 'Burleson',
  114: 'Colorado',
  115: 'Crane',
  116: 'Fannin',
  117: 'Gillespie',
  118: 'Jasper',
  119: 'Jim Wells',
  120: 'Kerr',
  121: 'Hutchinson',
  122: 'Leon',
  123: 'Lavaca',
  124: 'Lee',
  125: 'Milam',
  126: 'Franklin',
  127: 'Wood',
  128: 'Newton',
  129: 'Morris',
  130: 'Montague',
  131: 'Camp',
  132: 'Clay',
  133: 'Comanche',
  134: 'Mason',
  135: 'Falls',
  136: 'Martin',
  137: 'Lamb',
  138: 'Gaines',
  139: 'Lampasas',
  140: 'Goliad',
  141: 'Gonzales',
  142: 'Tyler',
  143: 'Hemphill',
  144: 'Henderson',
  145: 'Palo Pinto',
  146: 'Titus',
  147: 'Andrews',
  148: 'Swisher',
  149: 'San Jacinto',
  150: 'Anderson'},
 'Positive': {0: 1106,
  1: 921,
  2: 430,
  3: 383,
  4: 342,
  5: 273,
  6: 256,
  7: 255,
  8: 138,
  9: 136,
  10: 136,
  11: 130,
  12: 96,
  13: 86,
  14: 83,
  15: 72,
  16: 71,
  17: 62,
  18: 57,
  19: 51,
  20: 50,
  21: 47,
  22: 47,
  23: 46,
  24: 33,
  25: 32,
  26: 29,
  27: 29,
  28: 26,
  29: 24,
  30: 24,
  31: 23,
  32: 22,
  33: 22,
  34: 21,
  35: 18,
  36: 17,
  37: 17,
  38: 17,
  39: 15,
  40: 14,
  41: 13,
  42: 12,
  43: 12,
  44: 11,
  45: 11,
  46: 11,
  47: 11,
  48: 10,
  49: 10,
  50: 10,
  51: 10,
  52: 9,
  53: 9,
  54: 9,
  55: 8,
  56: 8,
  57: 8,
  58: 8,
  59: 7,
  60: 7,
  61: 7,
  62: 7,
  63: 6,
  64: 6,
  65: 6,
  66: 6,
  67: 6,
  68: 5,
  69: 5,
  70: 5,
  71: 5,
  72: 5,
  73: 5,
  74: 5,
  75: 5,
  76: 5,
  77: 5,
  78: 5,
  79: 5,
  80: 4,
  81: 4,
  82: 4,
  83: 4,
  84: 4,
  85: 4,
  86: 4,
  87: 4,
  88: 4,
  89: 4,
  90: 4,
  91: 4,
  92: 3,
  93: 3,
  94: 3,
  95: 3,
  96: 3,
  97: 3,
  98: 3,
  99: 3,
  100: 3,
  101: 3,
  102: 3,
  103: 3,
  104: 3,
  105: 3,
  106: 2,
  107: 2,
  108: 2,
  109: 2,
  110: 2,
  111: 2,
  112: 2,
  113: 2,
  114: 2,
  115: 2,
  116: 2,
  117: 2,
  118: 2,
  119: 2,
  120: 2,
  121: 2,
  122: 2,
  123: 2,
  124: 2,
  125: 2,
  126: 1,
  127: 1,
  128: 1,
  129: 1,
  130: 1,
  131: 1,
  132: 1,
  133: 1,
  134: 1,
  135: 1,
  136: 1,
  137: 1,
  138: 1,
  139: 1,
  140: 1,
  141: 1,
  142: 1,
  143: 1,
  144: 1,
  145: 1,
  146: 1,
  147: 1,
  148: 1,
  149: 1,
  150: 1},
 'Fatalities': {0: 13,
  1: 17,
  2: 4,
  3: 7,
  4: 9,
  5: 6,
  6: 2,
  7: 2,
  8: 4,
  9: 0,
  10: 1,
  11: 3,
  12: 0,
  13: 0,
  14: 5,
  15: 5,
  16: 1,
  17: 0,
  18: 1,
  19: 1,
  20: 1,
  21: 0,
  22: 0,
  23: 0,
  24: 2,
  25: 0,
  26: 2,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 1,
  33: 0,
  34: 1,
  35: 2,
  36: 1,
  37: 0,
  38: 0,
  39: 2,
  40: 1,
  41: 0,
  42: 0,
  43: 0,
  44: 0,
  45: 0,
  46: 0,
  47: 0,
  48: 0,
  49: 0,
  50: 1,
  51: 0,
  52: 1,
  53: 0,
  54: 0,
  55: 0,
  56: 0,
  57: 0,
  58: 0,
  59: 0,
  60: 1,
  61: 1,
  62: 0,
  63: 0,
  64: 0,
  65: 0,
  66: 0,
  67: 0,
  68: 0,
  69: 0,
  70: 0,
  71: 1,
  72: 0,
  73: 0,
  74: 1,
  75: 0,
  76: 0,
  77: 0,
  78: 0,
  79: 0,
  80: 0,
  81: 0,
  82: 1,
  83: 0,
  84: 0,
  85: 0,
  86: 1,
  87: 0,
  88: 0,
  89: 0,
  90: 0,
  91: 1,
  92: 0,
  93: 0,
  94: 0,
  95: 0,
  96: 0,
  97: 1,
  98: 0,
  99: 0,
  100: 0,
  101: 0,
  102: 0,
  103: 0,
  104: 0,
  105: 0,
  106: 0,
  107: 0,
  108: 0,
  109: 1,
  110: 0,
  111: 0,
  112: 0,
  113: 0,
  114: 0,
  115: 0,
  116: 0,
  117: 0,
  118: 0,
  119: 0,
  120: 0,
  121: 0,
  122: 0,
  123: 0,
  124: 0,
  125: 0,
  126: 0,
  127: 0,
  128: 0,
  129: 0,
  130: 0,
  131: 0,
  132: 0,
  133: 0,
  134: 0,
  135: 0,
  136: 0,
  137: 0,
  138: 0,
  139: 0,
  140: 0,
  141: 0,
  142: 0,
  143: 0,
  144: 0,
  145: 0,
  146: 0,
  147: 0,
  148: 0,
  149: 0,
  150: 0}}